<h1 mat-dialog-title>Employee Details</h1>
<div mat-dialog-content>
  <!-- We should not allow the user to change the ID -->
  <mat-form-field appearance="fill">
    <mat-label>Email:</mat-label>
    <input matInput [(ngModel)]="employee.email">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>First Name:</mat-label>
    <input matInput [(ngModel)]="employee.first_name">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Last Name:</mat-label>
    <input matInput [(ngModel)]="employee.last_name">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Avatar:</mat-label>
    <input matInput [(ngModel)]="employee.avatar">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-button color="primary" [mat-dialog-close]="employee" cdkFocusInitial>Save</button>
</div>